/node_modules
/public/hot
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing
/storage/framework/views/*
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.idea/
.env
resources.rar
/public/files/
/public/import/
/public/system/
/composer.lock
/vendor/*